---
import DefaultLayout from '../../layouts/DefaultLayout.astro';
export async function getStaticPaths () {
    const response = await fetch("http://localhost:3000/posts");
    const posts = await response.json();
    return posts.map((post) => {
        return {
            params: { id: post.id },
        }
    });
}
const {id} = Astro.params;
const postResponse = await fetch(`http://localhost:3000/posts/${id}`);
const post = await postResponse.json();
---
<DefaultLayout>
    <p>Pagina {id} Titulo: {post.title}</p>
</DefaultLayout>